In [1]:
from pyspark import SparkConf, SparkContext
# Set up SparkContext
conf = SparkConf().setMaster('local').setAppName('Test')
sc = SparkContext(conf = conf)

### SPARK DATAFRAME

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.getOrCreate()

In [10]:
spark

#### Load Data into Dataframes : CSV

In [50]:
data_path = 'C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Spark_SQL\\data'
file_path = data_path + '\\location_temp.csv'

In [51]:
df0 = spark.read.format('csv').option('header', 'true').load(file_path)
df0.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [52]:
df0.show()    # timeseries data

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [53]:
df0.count()

500000

In [20]:
file_path_no_header = data_path + '\\utilization.csv'
# no header > infer a schema
df2 = spark.read.format('csv').option('header','false').option('inferschema','true').load(file_path_no_header)

In [21]:
df2.count()

500000

In [22]:
df2.head(10)   # dont have column name

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43),
 Row(_c0='03/05/2019 08:31:14', _c1=100, _c2=0.41, _c3=0.58, _c4=48),
 Row(_c0='03/05/2019 08:36:14', _c1=100, _c2=0.57, _c3=0.35, _c4=58),
 Row(_c0='03/05/2019 08:41:14', _c1=100, _c2=0.41, _c3=0.4, _c4=58),
 Row(_c0='03/05/2019 08:46:14', _c1=100, _c2=0.53, _c3=0.35, _c4=62),
 Row(_c0='03/05/2019 08:51:14', _c1=100, _c2=0.51, _c3=0.6, _c4=45)]

In [28]:
# column rename
df2=df2.withColumnRenamed('_c0', 'event_datetime') \
    .withColumnRenamed('_c1', 'server_id')\
    .withColumnRenamed('_c2', 'cpu_utilization')\
    .withColumnRenamed('_c3', 'free_memory')\
    .withColumnRenamed('_c4', 'session_count')

In [29]:
df2.head(2)

[Row(event_datetime='03/05/2019 08:06:14', server_id=100, cpu_utilization=0.57, free_memory=0.51, session_count=47),
 Row(event_datetime='03/05/2019 08:11:14', server_id=100, cpu_utilization=0.47, free_memory=0.62, session_count=43)]

In [30]:
df2.show()    #

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

#### Load Data into Dataframes : JSON

In [34]:
json_df1_path = data_path + '\\utilization.json'
df1 = spark.read.format('json').load(json_df1_path)

In [35]:
df1.count()

500000

In [47]:
# dont have to change colnames >>> json :: specify key value pairs
df1.show(2)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 2 rows

#### Basic dataframe operations

In [38]:
df2.show(1)

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
+-------------------+---------+---------------+-----------+-------------+
only showing top 1 row

In [39]:
df2.columns  # attribute of dataframes

['event_datetime',
 'server_id',
 'cpu_utilization',
 'free_memory',
 'session_count']

In [40]:
df2_sample = df2.sample(False, fraction = 0.1 )  # WITHOUT REPLACEMENT :: FALSE

In [46]:
df2_sample.show(2)

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 11:01:14|      100|           0.32|       0.56|           53|
+-------------------+---------+---------------+-----------+-------------+
only showing top 2 rows

In [45]:
# .sort('기준필드')
df2_sort = df2_sample.sort('event_datetime')
df2_sort.show(3)

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:54|      124|           0.32|       0.43|           45|
|03/05/2019 08:11:31|      110|           0.58|       0.61|           76|
|03/05/2019 08:11:41|      116|           0.44|       0.38|           49|
+-------------------+---------+---------------+-----------+-------------+
only showing top 3 rows

#### Filter data with Dataframe API
    filter method : df1.filter()

In [54]:
df0.show(1)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 1 row

In [57]:
df0.filter(df0['location_id']=='loc0').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [58]:
df0.filter(df0['location_id']=='loc0').count()

1000

In [59]:
df0.filter(df0['location_id']=='loc1').count()

1000

In [60]:
df0.filter(df0['location_id']=='loc1').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc1|          31|
|03/04/2019 19:53:06|       loc1|          26|
|03/04/2019 19:58:06|       loc1|          31|
|03/04/2019 20:03:06|       loc1|          26|
|03/04/2019 20:08:06|       loc1|          28|
|03/04/2019 20:13:06|       loc1|          27|
|03/04/2019 20:18:06|       loc1|          30|
|03/04/2019 20:23:06|       loc1|          28|
|03/04/2019 20:28:06|       loc1|          28|
|03/04/2019 20:33:06|       loc1|          27|
|03/04/2019 20:38:06|       loc1|          30|
|03/04/2019 20:43:06|       loc1|          32|
|03/04/2019 20:48:06|       loc1|          26|
|03/04/2019 20:53:06|       loc1|          30|
|03/04/2019 20:58:06|       loc1|          26|
|03/04/2019 21:03:06|       loc1|          28|
|03/04/2019 21:08:06|       loc1|          27|
|03/04/2019 21:13:06|       loc1|          28|
|03/04/2019 21:18:06|       loc1|          27|
|03/04/2019 21:23:06|       loc1|          26|
+-------------------+-----------+------------+
only showing top 20 rows

#### Aggregated data with Dataframe API
    agg method : df1.groupby/orderby.agg({'필드' : 기술통계값})

In [61]:
df0.show(1)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 1 row

In [67]:
# how many differenct measurements we have for each location
df0.groupby('location_id').count().show(2)

+-----------+-----+
|location_id|count|
+-----------+-----+
|     loc196| 1000|
|     loc226| 1000|
+-----------+-----+
only showing top 2 rows

In [66]:
df0.orderBy('location_id').show(2)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
+-------------------+-----------+------------+
only showing top 2 rows

In [68]:
df0.groupby('location_id').agg({'temp_celcius':'mean'}).show(2)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|     loc196|           29.225|
|     loc226|           25.306|
+-----------+-----------------+
only showing top 2 rows

In [69]:
df0.groupby('location_id').agg({'temp_celcius':'max'}).show(2)

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|     loc196|               36|
|     loc226|               32|
+-----------+-----------------+
only showing top 2 rows

#### Sample data from Dataframes
    df.sample(fraction=0.1, withReplacement=False)
    df.groupby().agg({})
    df.groupby().agg({}).orderBy()
    df.orderBy()

In [79]:
df0_s1 = df0.sample(fraction=0.1, withReplacement = False)
df0_s1.count()

50248

In [80]:
df0_s1.groupby('location_id').agg({'temp_celcius':'mean'}).show(2)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc196|29.242990654205606|
|     loc226| 25.36470588235294|
+-----------+------------------+
only showing top 2 rows

In [81]:
df0_s1.groupby('location_id').agg({'temp_celcius':'mean'}).orderBy('location_id').show(2)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.116504854368934|
|       loc1|27.808988764044944|
+-----------+------------------+
only showing top 2 rows

In [ ]:
df0.groupby('location_id').agg({'temp_celcius':'mean'}).orderBy('location_id').show(2)

#### Save data from Dataframes

In [5]:
data_path = 'C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Spark_SQL\\data'
file_path = data_path + '\\location_temp.csv'
df0 = spark.read.format('csv').option('header', 'true').load(file_path)
df0.show(1)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 1 row

In [11]:
df0.write.csv('df0.csv')

Py4JJavaError: An error occurred while calling o37.csv.
: java.lang.UnsatisfiedLinkError: org.apache.hadoop.io.nativeio.NativeIO$Windows.createDirectoryWithMode0(Ljava/lang/String;I)V
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.createDirectoryWithMode0(Native Method)
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.createDirectoryWithMode(NativeIO.java:560)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkOneDirWithMode(RawLocalFileSystem.java:534)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:587)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:559)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:586)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:559)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:586)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:559)
	at org.apache.hadoop.fs.ChecksumFileSystem.mkdirs(ChecksumFileSystem.java:705)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.setupJob(FileOutputCommitter.java:354)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.setupJob(HadoopMapReduceCommitProtocol.scala:178)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:173)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:188)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:108)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:106)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:131)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:180)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:218)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:215)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:176)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:132)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:131)
	at org.apache.spark.sql.DataFrameWriter.$anonfun$runCommand$1(DataFrameWriter.scala:989)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:772)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:989)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:438)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:415)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:293)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:979)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:567)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:835)

In [ ]:
!dir df0.csv   
# exclamation mark :: shell command

    df0.csv is not single file >> directory >> files with csv extentions
    spark can breack up df into partition subsets
    each partition has its own file

In [ ]:
! head df0.csv/''directoryname''

In [ ]:
df0.write.json('df0.json')

In [ ]:
dir df0.json

In [ ]:
! head df0.json/''directoryname''

저장시 오류나는 경우 
./pyspark --packages com.databricks:spark-csv_2.10:1.4.0

### SQL for DATAFRAME

In [8]:
from pyspark.sql import SparkSession

In [13]:
# spark session as global variable
spark = SparkSession \
        .builder \
        .appName("Spark SQL Query Dataframes")\
        .getOrCreate()

In [14]:
data_path = 'C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Spark_SQL\\data'
json_df1_path = data_path + '\\utilization.json'
df = spark.read.format('json').load(json_df1_path)

In [15]:
df.show(1)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
+---------------+-------------------+-----------+---------+-------------+
only showing top 1 row

In [16]:
df.count()

500000

#### Dataframes with SQL

In [17]:
#SQL > have to create temporary view
df.createOrReplaceTempView('utilization')

In [19]:
df_sql = spark.sql('select * from utilization limit 10')
df_sql.show(2)
# same structure

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 2 rows

In [23]:
df_sql = spark.sql('select server_id, session_count from utilization limit 10')
df_sql.show(3)

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
+---------+-------------+
only showing top 3 rows

In [24]:
df_sql = spark.sql('select server_id AS sid, session_count AS sc from utilization limit 10')
df_sql.show(3)

+---+---+
|sid| sc|
+---+---+
|100| 47|
|100| 43|
|100| 62|
+---+---+
only showing top 3 rows

#### Filtering Dataframes with SQL

In [25]:
df.createOrReplaceTempView('utilization')

In [36]:
df_sql = spark.sql('select * from utilization where server_id =100')
df_sql.show(2)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 2 rows

In [28]:
df_sql.count()

10000

In [32]:
df_sql = spark.sql('select server_id from utilization where session_count >100')
df_sql.count()

3078

In [35]:
# multiple conditions
df_sql = spark.sql('select server_id from utilization where session_count >70 and server_id =120')
df_sql.count()

2733

In [40]:
# multiple lines ::  \
df_sql = spark.sql('SELECT server_id FROM utilization \
                    WHERE session_count >70 AND server_id =120 \
                    ORDER BY session_count DESC')
df_sql.count()

2733

#### Aggregating Dataframes with SQL

In [41]:
df.createOrReplaceTempView('utilization')

In [42]:
df_sql = spark.sql('select count(*) \
                    from utilization \
                    where session_count > 70')
df_sql.show()

+--------+
|count(1)|
+--------+
|  239659|
+--------+

In [47]:
df_sql = spark.sql('select server_id, count(*) \
                    from utilization \
                    where session_count > 70\
                    group by server_id\
                    order by count(*) desc')
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      101|    9808|
|      113|    9418|
|      145|    9304|
|      103|    8744|
|      102|    8586|
|      133|    8583|
|      108|    8375|
|      149|    8288|
|      137|    8248|
|      148|    8027|
|      123|    7918|
|      118|    7913|
|      112|    7425|
|      139|    7383|
|      104|    7366|
|      142|    7084|
|      121|    7084|
|      146|    7072|
|      126|    6365|
|      144|    6220|
+---------+--------+
only showing top 20 rows

In [49]:
df_sql = spark.sql('select server_id, min(session_count), max(session_count), round(avg(session_count),2) \
                    from utilization \
                    where session_count > 70\
                    group by server_id\
                    order by count(*) desc')
df_sql.show()

+---------+------------------+------------------+----------------------------+
|server_id|min(session_count)|max(session_count)|round(avg(session_count), 2)|
+---------+------------------+------------------+----------------------------+
|      101|                71|               105|                       87.67|
|      113|                71|               103|                       86.96|
|      145|                71|               103|                       86.98|
|      103|                71|               101|                       85.76|
|      102|                71|               101|                       85.71|
|      133|                71|               100|                       85.47|
|      108|                71|               100|                       85.12|
|      149|                71|                99|                       84.96|
|      137|                71|                99|                       85.01|
|      148|                71|                99|                        84.7|
|      123|                71|                98|                       84.53|
|      118|                71|                98|                       84.66|
|      112|                71|                97|                       83.55|
|      139|                71|                96|                       83.33|
|      104|                71|                96|                       83.35|
|      121|                71|                95|                       82.89|
|      142|                71|                95|                        82.9|
|      146|                71|                95|                       82.95|
|      126|                71|                93|                       81.56|
|      144|                71|                92|                       81.38|
+---------+------------------+------------------+----------------------------+
only showing top 20 rows

#### Joining Dataframes with SQL

In [50]:
data_path = 'C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Spark_SQL\\data'
json_df1_path = data_path + '\\utilization.json'
df_util = spark.read.format('json').load(json_df1_path)
df_util.show(2)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 2 rows

In [51]:
df_util.createOrReplaceTempView('utilization')

In [52]:
csv_df_path = data_path + '\\server_name.csv'
df_server = spark.read.csv(csv_df_path, header =True)

In [53]:
df_server.show(2)

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
+---------+-----------+
only showing top 2 rows

In [54]:
df_server.createOrReplaceTempView('servername')

In [55]:
df_count = spark.sql('select distinct server_id \
                    from utilization \
                     order by server_id')
df_count.show()

+---------+
|server_id|
+---------+
|      100|
|      101|
|      102|
|      103|
|      104|
|      105|
|      106|
|      107|
|      108|
|      109|
|      110|
|      111|
|      112|
|      113|
|      114|
|      115|
|      116|
|      117|
|      118|
|      119|
+---------+
only showing top 20 rows

In [57]:
spark.sql('select min(server_id), max(server_id)\
          from utilization').show()

+--------------+--------------+
|min(server_id)|max(server_id)|
+--------------+--------------+
|           100|           149|
+--------------+--------------+

In [58]:
df_join = spark.sql('select u.server_id, s.server_name, u.session_count\
                    from utilization u \
                    inner join servername s \
                    on s.server_id = u.server_id')
df_join.show()

+---------+-----------+-------------+
|server_id|server_name|session_count|
+---------+-----------+-------------+
|      100| 100 Server|           47|
|      100| 100 Server|           43|
|      100| 100 Server|           62|
|      100| 100 Server|           50|
|      100| 100 Server|           43|
|      100| 100 Server|           48|
|      100| 100 Server|           58|
|      100| 100 Server|           58|
|      100| 100 Server|           62|
|      100| 100 Server|           45|
|      100| 100 Server|           47|
|      100| 100 Server|           60|
|      100| 100 Server|           57|
|      100| 100 Server|           44|
|      100| 100 Server|           47|
|      100| 100 Server|           66|
|      100| 100 Server|           65|
|      100| 100 Server|           66|
|      100| 100 Server|           42|
|      100| 100 Server|           63|
+---------+-----------+-------------+
only showing top 20 rows

#### Eliminating duplicates in Dataframes

In [61]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

* sc :: global variable to access to the Sparck Context
* create parallelized data structure 
    - spark can breack up dataframes into partition subsets
    - sql: create it manually so we have to specifying parallelized explicitly

In [65]:
from pyspark import SparkContext
sc =SparkContext.getOrCreate()

In [66]:
df_dup = sc.parallelize([Row(server_name='101 Server',cpu_utilization =85, session_count=80),\
                        Row(server_name='101 Server',cpu_utilization =80, session_count=90),\
                        Row(server_name='102 Server',cpu_utilization =85, session_count=80),\
                        Row(server_name='102 Server',cpu_utilization =85, session_count=80)]).toDF()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 76.0 failed 1 times, most recent failure: Lost task 0.0 in stage 76.0 (TID 1423) (DESKTOP-MT5F0AJ executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:182)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:107)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:119)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:145)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:835)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/java.net.PlainSocketImpl.waitForNewConnection(Native Method)
	at java.base/java.net.PlainSocketImpl.socketAccept(PlainSocketImpl.java:163)
	at java.base/java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:458)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:556)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:524)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:174)
	... 14 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2253)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2202)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2201)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2201)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1078)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1078)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1078)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2440)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2382)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2371)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:868)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2202)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2223)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2242)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:567)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:835)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:182)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:107)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:119)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:145)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/java.net.PlainSocketImpl.waitForNewConnection(Native Method)
	at java.base/java.net.PlainSocketImpl.socketAccept(PlainSocketImpl.java:163)
	at java.base/java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:458)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:556)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:524)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:174)
	... 14 more

In [ ]:
df_dup.show()

#### Working with NA values in Dataframes

### SQL for DATAFRAME

#### EDA with Dataframes

#### EDA with Spark SQL

#### Timeseries analysis with Dataframes

#### Basic ML with Dataframes