In [1]:
from pyspark import SparkConf, SparkContext
# Set up SparkContext
conf = SparkConf().setMaster('local').setAppName('Test')
sc = SparkContext(conf = conf)

### SPARK DATAFRAME

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.getOrCreate()

In [10]:
spark

#### Load Data into Dataframes : CSV

In [50]:
data_path = 'C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Spark_SQL\\data'
file_path = data_path + '\\location_temp.csv'

In [51]:
df0 = spark.read.format('csv').option('header', 'true').load(file_path)
df0.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [52]:
df0.show()    # timeseries data

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [53]:
df0.count()

500000

In [20]:
file_path_no_header = data_path + '\\utilization.csv'
# no header > infer a schema
df2 = spark.read.format('csv').option('header','false').option('inferschema','true').load(file_path_no_header)

In [21]:
df2.count()

500000

In [22]:
df2.head(10)   # dont have column name

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43),
 Row(_c0='03/05/2019 08:31:14', _c1=100, _c2=0.41, _c3=0.58, _c4=48),
 Row(_c0='03/05/2019 08:36:14', _c1=100, _c2=0.57, _c3=0.35, _c4=58),
 Row(_c0='03/05/2019 08:41:14', _c1=100, _c2=0.41, _c3=0.4, _c4=58),
 Row(_c0='03/05/2019 08:46:14', _c1=100, _c2=0.53, _c3=0.35, _c4=62),
 Row(_c0='03/05/2019 08:51:14', _c1=100, _c2=0.51, _c3=0.6, _c4=45)]

In [28]:
# column rename
df2=df2.withColumnRenamed('_c0', 'event_datetime') \
    .withColumnRenamed('_c1', 'server_id')\
    .withColumnRenamed('_c2', 'cpu_utilization')\
    .withColumnRenamed('_c3', 'free_memory')\
    .withColumnRenamed('_c4', 'session_count')

In [29]:
df2.head(2)

[Row(event_datetime='03/05/2019 08:06:14', server_id=100, cpu_utilization=0.57, free_memory=0.51, session_count=47),
 Row(event_datetime='03/05/2019 08:11:14', server_id=100, cpu_utilization=0.47, free_memory=0.62, session_count=43)]

In [30]:
df2.show()    #

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

#### Load Data into Dataframes : JSON

In [34]:
json_df1_path = data_path + '\\utilization.json'
df1 = spark.read.format('json').load(json_df1_path)

In [35]:
df1.count()

500000

In [47]:
# dont have to change colnames >>> json :: specify key value pairs
df1.show(2)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 2 rows

#### Basic dataframe operations

In [38]:
df2.show(1)

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
+-------------------+---------+---------------+-----------+-------------+
only showing top 1 row

In [39]:
df2.columns  # attribute of dataframes

['event_datetime',
 'server_id',
 'cpu_utilization',
 'free_memory',
 'session_count']

In [40]:
df2_sample = df2.sample(False, fraction = 0.1 )  # WITHOUT REPLACEMENT :: FALSE

In [46]:
df2_sample.show(2)

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 11:01:14|      100|           0.32|       0.56|           53|
+-------------------+---------+---------------+-----------+-------------+
only showing top 2 rows

In [45]:
# .sort('기준필드')
df2_sort = df2_sample.sort('event_datetime')
df2_sort.show(3)

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:54|      124|           0.32|       0.43|           45|
|03/05/2019 08:11:31|      110|           0.58|       0.61|           76|
|03/05/2019 08:11:41|      116|           0.44|       0.38|           49|
+-------------------+---------+---------------+-----------+-------------+
only showing top 3 rows

#### Filter data with Dataframe API
    filter method : df1.filter()

In [54]:
df0.show(1)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 1 row

In [57]:
df0.filter(df0['location_id']=='loc0').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [58]:
df0.filter(df0['location_id']=='loc0').count()

1000

In [59]:
df0.filter(df0['location_id']=='loc1').count()

1000

In [60]:
df0.filter(df0['location_id']=='loc1').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc1|          31|
|03/04/2019 19:53:06|       loc1|          26|
|03/04/2019 19:58:06|       loc1|          31|
|03/04/2019 20:03:06|       loc1|          26|
|03/04/2019 20:08:06|       loc1|          28|
|03/04/2019 20:13:06|       loc1|          27|
|03/04/2019 20:18:06|       loc1|          30|
|03/04/2019 20:23:06|       loc1|          28|
|03/04/2019 20:28:06|       loc1|          28|
|03/04/2019 20:33:06|       loc1|          27|
|03/04/2019 20:38:06|       loc1|          30|
|03/04/2019 20:43:06|       loc1|          32|
|03/04/2019 20:48:06|       loc1|          26|
|03/04/2019 20:53:06|       loc1|          30|
|03/04/2019 20:58:06|       loc1|          26|
|03/04/2019 21:03:06|       loc1|          28|
|03/04/2019 21:08:06|       loc1|          27|
|03/04/2019 21:13:06|       loc1|          28|
|03/04/2019 21:18:06|       loc1|          27|
|03/04/2019 21:23:06|       loc1|          26|
+-------------------+-----------+------------+
only showing top 20 rows

#### Aggregated data with Dataframe API
    agg method : df1.groupby/orderby.agg({'필드' : 기술통계값})

In [61]:
df0.show(1)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 1 row

In [67]:
# how many differenct measurements we have for each location
df0.groupby('location_id').count().show(2)

+-----------+-----+
|location_id|count|
+-----------+-----+
|     loc196| 1000|
|     loc226| 1000|
+-----------+-----+
only showing top 2 rows

In [66]:
df0.orderBy('location_id').show(2)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
+-------------------+-----------+------------+
only showing top 2 rows

In [68]:
df0.groupby('location_id').agg({'temp_celcius':'mean'}).show(2)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|     loc196|           29.225|
|     loc226|           25.306|
+-----------+-----------------+
only showing top 2 rows

In [69]:
df0.groupby('location_id').agg({'temp_celcius':'max'}).show(2)

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|     loc196|               36|
|     loc226|               32|
+-----------+-----------------+
only showing top 2 rows

#### Sample data from Dataframes
    df.sample(fraction=0.1, withReplacement=False)
    df.groupby().agg({})
    df.groupby().agg({}).orderBy()
    df.orderBy()

In [79]:
df0_s1 = df0.sample(fraction=0.1, withReplacement = False)
df0_s1.count()

50248

In [80]:
df0_s1.groupby('location_id').agg({'temp_celcius':'mean'}).show(2)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc196|29.242990654205606|
|     loc226| 25.36470588235294|
+-----------+------------------+
only showing top 2 rows

In [81]:
df0_s1.groupby('location_id').agg({'temp_celcius':'mean'}).orderBy('location_id').show(2)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.116504854368934|
|       loc1|27.808988764044944|
+-----------+------------------+
only showing top 2 rows

In [ ]:
df0.groupby('location_id').agg({'temp_celcius':'mean'}).orderBy('location_id').show(2)

#### Save data from Dataframes
    df.write.csv('***.csv')
    df.write.csv('***.json')
    ! dir ***.csv
    ! head ***.csv/'directoryname'

In [5]:
data_path = 'C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Spark_SQL\\data'
file_path = data_path + '\\location_temp.csv'
df0 = spark.read.format('csv').option('header', 'true').load(file_path)
df0.show(1)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 1 row

In [ ]:
df0.write.csv('df0.csv')

In [ ]:
!dir df0.csv   
# exclamation mark :: shell command

    df0.csv is not single file >> directory >> files with csv extentions
    spark can breack up df into partition subsets
    each partition has its own file

In [ ]:
! head df0.csv/''directoryname''

In [ ]:
df0.write.json('df0.json')

In [ ]:
dir df0.json

In [ ]:
! head df0.json/''directoryname''

저장시 오류나는 경우 
./pyspark --packages com.databricks:spark-csv_2.10:1.4.0

### SQL for DATAFRAME

In [8]:
from pyspark.sql import SparkSession

In [13]:
# spark session as global variable
spark = SparkSession \
        .builder \
        .appName("Spark SQL Query Dataframes")\
        .getOrCreate()

In [14]:
data_path = 'C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Spark_SQL\\data'
json_df1_path = data_path + '\\utilization.json'
df = spark.read.format('json').load(json_df1_path)

In [15]:
df.show(1)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
+---------------+-------------------+-----------+---------+-------------+
only showing top 1 row

In [16]:
df.count()

500000

#### Dataframes with SQL
    1) df.createOrReplaceTempView('뷰이름') -- 뷰생성
    2) spark.sql('SQL Statement') -- sql Query

In [17]:
#SQL > have to create temporary view
df.createOrReplaceTempView('utilization')

In [19]:
df_sql = spark.sql('select * from utilization limit 10')
df_sql.show(2)
# same structure

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 2 rows

In [23]:
df_sql = spark.sql('select server_id, session_count from utilization limit 10')
df_sql.show(3)

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
+---------+-------------+
only showing top 3 rows

In [24]:
df_sql = spark.sql('select server_id AS sid, session_count AS sc from utilization limit 10')
df_sql.show(3)

+---+---+
|sid| sc|
+---+---+
|100| 47|
|100| 43|
|100| 62|
+---+---+
only showing top 3 rows

#### Filtering Dataframes with SQL
    spark.sql('SQL Query with WHERE clause')

In [25]:
df.createOrReplaceTempView('utilization')

In [36]:
df_sql = spark.sql('select * from utilization where server_id =100')
df_sql.show(2)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 2 rows

In [28]:
df_sql.count()

10000

In [32]:
df_sql = spark.sql('select server_id from utilization where session_count >100')
df_sql.count()

3078

In [35]:
# multiple conditions
df_sql = spark.sql('select server_id from utilization where session_count >70 and server_id =120')
df_sql.count()

2733

In [40]:
# multiple lines ::  \
df_sql = spark.sql('SELECT server_id FROM utilization \
                    WHERE session_count >70 AND server_id =120 \
                    ORDER BY session_count DESC')
df_sql.count()

2733

#### Aggregating Dataframes with SQL
    spark.sql('SQL Query with group by & aggregation functions')

In [41]:
df.createOrReplaceTempView('utilization')

In [42]:
df_sql = spark.sql('select count(*) \
                    from utilization \
                    where session_count > 70')
df_sql.show()

+--------+
|count(1)|
+--------+
|  239659|
+--------+

In [47]:
df_sql = spark.sql('select server_id, count(*) \
                    from utilization \
                    where session_count > 70\
                    group by server_id\
                    order by count(*) desc')
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      101|    9808|
|      113|    9418|
|      145|    9304|
|      103|    8744|
|      102|    8586|
|      133|    8583|
|      108|    8375|
|      149|    8288|
|      137|    8248|
|      148|    8027|
|      123|    7918|
|      118|    7913|
|      112|    7425|
|      139|    7383|
|      104|    7366|
|      142|    7084|
|      121|    7084|
|      146|    7072|
|      126|    6365|
|      144|    6220|
+---------+--------+
only showing top 20 rows

In [49]:
df_sql = spark.sql('select server_id, min(session_count), max(session_count), round(avg(session_count),2) \
                    from utilization \
                    where session_count > 70\
                    group by server_id\
                    order by count(*) desc')
df_sql.show()

+---------+------------------+------------------+----------------------------+
|server_id|min(session_count)|max(session_count)|round(avg(session_count), 2)|
+---------+------------------+------------------+----------------------------+
|      101|                71|               105|                       87.67|
|      113|                71|               103|                       86.96|
|      145|                71|               103|                       86.98|
|      103|                71|               101|                       85.76|
|      102|                71|               101|                       85.71|
|      133|                71|               100|                       85.47|
|      108|                71|               100|                       85.12|
|      149|                71|                99|                       84.96|
|      137|                71|                99|                       85.01|
|      148|                71|                99|                        84.7|
|      123|                71|                98|                       84.53|
|      118|                71|                98|                       84.66|
|      112|                71|                97|                       83.55|
|      139|                71|                96|                       83.33|
|      104|                71|                96|                       83.35|
|      121|                71|                95|                       82.89|
|      142|                71|                95|                        82.9|
|      146|                71|                95|                       82.95|
|      126|                71|                93|                       81.56|
|      144|                71|                92|                       81.38|
+---------+------------------+------------------+----------------------------+
only showing top 20 rows

#### Joining Dataframes with SQL
    spark.sql('SQL Query with Join & On|Where')

In [50]:
data_path = 'C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Spark_SQL\\data'
json_df1_path = data_path + '\\utilization.json'
df_util = spark.read.format('json').load(json_df1_path)
df_util.show(2)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 2 rows

In [51]:
df_util.createOrReplaceTempView('utilization')

In [52]:
csv_df_path = data_path + '\\server_name.csv'
df_server = spark.read.csv(csv_df_path, header =True)

In [53]:
df_server.show(2)

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
+---------+-----------+
only showing top 2 rows

In [54]:
df_server.createOrReplaceTempView('servername')

In [55]:
df_count = spark.sql('select distinct server_id \
                    from utilization \
                     order by server_id')
df_count.show()

+---------+
|server_id|
+---------+
|      100|
|      101|
|      102|
|      103|
|      104|
|      105|
|      106|
|      107|
|      108|
|      109|
|      110|
|      111|
|      112|
|      113|
|      114|
|      115|
|      116|
|      117|
|      118|
|      119|
+---------+
only showing top 20 rows

In [57]:
spark.sql('select min(server_id), max(server_id)\
          from utilization').show()

+--------------+--------------+
|min(server_id)|max(server_id)|
+--------------+--------------+
|           100|           149|
+--------------+--------------+

In [58]:
df_join = spark.sql('select u.server_id, s.server_name, u.session_count\
                    from utilization u \
                    inner join servername s \
                    on s.server_id = u.server_id')
df_join.show()

+---------+-----------+-------------+
|server_id|server_name|session_count|
+---------+-----------+-------------+
|      100| 100 Server|           47|
|      100| 100 Server|           43|
|      100| 100 Server|           62|
|      100| 100 Server|           50|
|      100| 100 Server|           43|
|      100| 100 Server|           48|
|      100| 100 Server|           58|
|      100| 100 Server|           58|
|      100| 100 Server|           62|
|      100| 100 Server|           45|
|      100| 100 Server|           47|
|      100| 100 Server|           60|
|      100| 100 Server|           57|
|      100| 100 Server|           44|
|      100| 100 Server|           47|
|      100| 100 Server|           66|
|      100| 100 Server|           65|
|      100| 100 Server|           66|
|      100| 100 Server|           42|
|      100| 100 Server|           63|
+---------+-----------+-------------+
only showing top 20 rows

#### Eliminating duplicates in Dataframes
    df.drop_duplicates()

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

* sc :: global variable to access to the Sparck Context
* create parallelized data structure 
    - spark can breack up dataframes into partition subsets
    - sql: create it manually so we have to specifying parallelized explicitly

In [3]:
from pyspark import SparkContext
sc =SparkContext.getOrCreate()

In [ ]:
df_dup = sc.parallelize([Row(server_name='101 Server',cpu_utilization =85, session_count=80),\
                        Row(server_name='101 Server',cpu_utilization =80, session_count=90),\
                        Row(server_name='102 Server',cpu_utilization =85, session_count=80),\
                        Row(server_name='102 Server',cpu_utilization =85, session_count=80)]).toDF()

In [ ]:
df_dup.show()

In [ ]:
df_dup.drop_duplicates().show()

In [ ]:
df_dup.drop_duplicates('server_name').show()

#### Working with NA values in Dataframes 
    df.withColumn('추가할필드명', function/type)
    df.fillna('')

In [14]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import lit
from pyspark.sql.types import StringType

In [ ]:
df = sc.parallelize([Row(server_name='101 Server', cpu_utilization=85, session_count=80), \
                             Row(server_name='101 Server', cpu_utilization=80, session_count=90),
                             Row(server_name='102 Server', cpu_utilization=85, session_count=40),
                             Row(server_name='103 Server', cpu_utilization=70, session_count=80),
                             Row(server_name='104 Server', cpu_utilization=60, session_count=80)]).toDF()

In [ ]:
df.show()

In [ ]:
# adding column
# literal value
df_na = df.withColumn('na_col', lit(None).cast(StringType()))
df_na.show()

In [ ]:
df_na.fillna('A').show()

In [ ]:
# union all rows
df2 = df_na.fillna('A').union(df_na)
df2.show()

In [ ]:
df2.na.drop().show()

In [ ]:
df2.createOrReplaceTempView('na_table')

In [ ]:
spark.sql('select * from na_table').show()

In [ ]:
spark.sql('select * from na_table where na_col is null').show()

In [ ]:
spark.sql('select * from na_table where na_col is not null').show()

### Data Analysis with Spark

#### EDA with Dataframes

In [16]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [19]:
data_path = 'C:\\Users\\JIIN\\OneDrive\\Documents\\Github\\2021_Python\\Spark_SQL\\data'
json_df2_path = data_path + '\\utilization.json'
df_util= spark.read.format('json').load(json_df2_path)
df_util.show(2)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 2 rows

In [20]:
df_util.createOrReplaceTempView('utilization')

In [21]:
df_util.count()

500000

In [23]:
df_util.describe().show() #summary statistics

+-------+-------------------+-------------------+-------------------+------------------+------------------+
|summary|    cpu_utilization|     event_datetime|        free_memory|         server_id|     session_count|
+-------+-------------------+-------------------+-------------------+------------------+------------------+
|  count|             500000|             500000|             500000|            500000|            500000|
|   mean| 0.6205177399999957|               null|0.37912809999999864|             124.5|          69.59616|
| stddev|0.15875173872912945|               null|0.15830931278376276|14.430884120553191|14.850676696352851|
|    min|               0.22|03/05/2019 08:06:14|                0.0|               100|                32|
|    max|                1.0|04/09/2019 01:22:46|               0.78|               149|               105|
+-------+-------------------+-------------------+-------------------+------------------+------------------+

Standard deviation

In [24]:
df_util.stat.corr('cpu_utilization', 'free_memory')

-0.4704771573080754

In [25]:
df_util.stat.corr('session_count' ,'free_memory')

-0.5008320848876573

In [28]:
df_util.stat.freqItems(('server_id','session_count')).show()

+--------------------+-----------------------+
| server_id_freqItems|session_count_freqItems|
+--------------------+-----------------------+
|[146, 137, 101, 1...|   [92, 101, 83, 95,...|
+--------------------+-----------------------+

In [29]:
# subset 
# df.sample() method returns dataframe itself
df_util_sample = df_util.sample(fraction=0.05, withReplacement=False)
df_util_sample.count()

24964

#### EDA with Spark SQL

In [33]:
spark.sql('select min(cpu_utilization), max(cpu_utilization),stddev(cpu_utilization)\
          from utilization').show()

+--------------------+--------------------+-----------------------+
|min(cpu_utilization)|max(cpu_utilization)|stddev(cpu_utilization)|
+--------------------+--------------------+-----------------------+
|                0.22|                 1.0|    0.15875173872912945|
+--------------------+--------------------+-----------------------+

In [35]:
spark.sql('select server_id,min(cpu_utilization), max(cpu_utilization),stddev(cpu_utilization)\
          from utilization \
          group by server_id').show()

+---------+--------------------+--------------------+-----------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev(cpu_utilization)|
+---------+--------------------+--------------------+-----------------------+
|      112|                0.52|                0.92|    0.11528867845082576|
|      113|                0.58|                0.98|    0.11544345150353687|
|      130|                0.35|                0.75|    0.11568834774245991|
|      126|                0.48|                0.88|    0.11542612970702058|
|      149|                0.54|                0.94|    0.11543517500295467|
|      110|                0.35|                0.75|    0.11533251724450215|
|      136|                0.41|                 0.8|    0.11597405743182258|
|      144|                0.47|                0.87|    0.11478654960489501|
|      119|                0.22|                0.62|    0.11516031929842008|
|      116|                 0.3|                 0.7|    0.11506079722349302|
|      145|                0.58|                0.98|    0.11476448868786197|
|      124|                0.24|                0.64|    0.11579377614906383|
|      143|                0.26|                0.66|    0.11616596078044727|
|      107|                0.45|                0.85|    0.11597417369783877|
|      146|                 0.5|                 0.9|    0.11488129439634719|
|      103|                0.56|                0.96|    0.11617507884178278|
|      139|                0.51|                0.91|    0.11519660023052102|
|      138|                0.24|                0.64|     0.1155955860444133|
|      114|                0.33|                0.73|    0.11510268816097273|
|      115|                0.44|                0.84|    0.11569664615014985|
+---------+--------------------+--------------------+-----------------------+
only showing top 20 rows

In [36]:
spark.sql('select server_id,\
          floor(cpu_utilization*100/10) bucket\
          from utilization').show()

+---------+------+
|server_id|bucket|
+---------+------+
|      100|     5|
|      100|     4|
|      100|     5|
|      100|     5|
|      100|     3|
|      100|     4|
|      100|     5|
|      100|     4|
|      100|     5|
|      100|     5|
|      100|     3|
|      100|     6|
|      100|     6|
|      100|     5|
|      100|     2|
|      100|     4|
|      100|     4|
|      100|     6|
|      100|     4|
|      100|     5|
+---------+------+
only showing top 20 rows

In [37]:
spark.sql('select count(*),\
          floor(cpu_utilization*100/10) bucket\
          from utilization\
          group by bucket\
          order by bucket').show()

+--------+------+
|count(1)|bucket|
+--------+------+
|    8186|     2|
|   37029|     3|
|   68046|     4|
|  104910|     5|
|  116725|     6|
|   88242|     7|
|   56598|     8|
|   20207|     9|
|      57|    10|
+--------+------+

#### Timeseries analysis with Dataframes

In [38]:
spark.sql('select server_id,min(cpu_utilization), max(cpu_utilization),stddev(cpu_utilization)\
          from utilization \
          group by server_id').show()

+---------+--------------------+--------------------+-----------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev(cpu_utilization)|
+---------+--------------------+--------------------+-----------------------+
|      112|                0.52|                0.92|    0.11528867845082576|
|      113|                0.58|                0.98|    0.11544345150353687|
|      130|                0.35|                0.75|    0.11568834774245991|
|      126|                0.48|                0.88|    0.11542612970702058|
|      149|                0.54|                0.94|    0.11543517500295467|
|      110|                0.35|                0.75|    0.11533251724450215|
|      136|                0.41|                 0.8|    0.11597405743182258|
|      144|                0.47|                0.87|    0.11478654960489501|
|      119|                0.22|                0.62|    0.11516031929842008|
|      116|                 0.3|                 0.7|    0.11506079722349302|
|      145|                0.58|                0.98|    0.11476448868786197|
|      124|                0.24|                0.64|    0.11579377614906383|
|      143|                0.26|                0.66|    0.11616596078044727|
|      107|                0.45|                0.85|    0.11597417369783877|
|      146|                 0.5|                 0.9|    0.11488129439634719|
|      103|                0.56|                0.96|    0.11617507884178278|
|      139|                0.51|                0.91|    0.11519660023052102|
|      138|                0.24|                0.64|     0.1155955860444133|
|      114|                0.33|                0.73|    0.11510268816097273|
|      115|                0.44|                0.84|    0.11569664615014985|
+---------+--------------------+--------------------+-----------------------+
only showing top 20 rows

In [40]:
# windowing function :: compare values within the specific group
sql_window=spark.sql('select event_datetime, server_id, cpu_utilization, \
            avg(cpu_utilization) over (partition by server_id) avg_server_util\
          from utilization ')
sql_window.show()

+-------------------+---------+---------------+------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|
+-------------------+---------+---------------+------------------+
|03/05/2019 08:06:34|      112|           0.71|0.7153870000000067|
|03/05/2019 08:11:34|      112|           0.78|0.7153870000000067|
|03/05/2019 08:16:34|      112|           0.87|0.7153870000000067|
|03/05/2019 08:21:34|      112|           0.82|0.7153870000000067|
|03/05/2019 08:26:34|      112|           0.62|0.7153870000000067|
|03/05/2019 08:31:34|      112|            0.9|0.7153870000000067|
|03/05/2019 08:36:34|      112|           0.89|0.7153870000000067|
|03/05/2019 08:41:34|      112|           0.81|0.7153870000000067|
|03/05/2019 08:46:34|      112|           0.88|0.7153870000000067|
|03/05/2019 08:51:34|      112|           0.89|0.7153870000000067|
|03/05/2019 08:56:34|      112|           0.84|0.7153870000000067|
|03/05/2019 09:01:34|      112|           0.71|0.7153870000000067|
|03/05/2019 09:06:34|      112|           0.85|0.7153870000000067|
|03/05/2019 09:11:34|      112|           0.72|0.7153870000000067|
|03/05/2019 09:16:34|      112|           0.54|0.7153870000000067|
|03/05/2019 09:21:34|      112|           0.58|0.7153870000000067|
|03/05/2019 09:26:34|      112|           0.73|0.7153870000000067|
|03/05/2019 09:31:34|      112|           0.86|0.7153870000000067|
|03/05/2019 09:36:34|      112|           0.63|0.7153870000000067|
|03/05/2019 09:41:34|      112|           0.75|0.7153870000000067|
+-------------------+---------+---------------+------------------+
only showing top 20 rows

In [42]:
sql_window2=spark.sql('select event_datetime, server_id, cpu_utilization, \
            avg(cpu_utilization) over (partition by server_id) avg_server_util,\
            cpu_utilization - avg(cpu_utilization) over (partition by server_id) delta_server_util\
          from utilization ')
sql_window2.show()

+-------------------+---------+---------------+------------------+--------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|   delta_server_util|
+-------------------+---------+---------------+------------------+--------------------+
|03/05/2019 08:06:34|      112|           0.71|0.7153870000000067|-0.00538700000000...|
|03/05/2019 08:11:34|      112|           0.78|0.7153870000000067| 0.06461299999999337|
|03/05/2019 08:16:34|      112|           0.87|0.7153870000000067| 0.15461299999999334|
|03/05/2019 08:21:34|      112|           0.82|0.7153870000000067|  0.1046129999999933|
|03/05/2019 08:26:34|      112|           0.62|0.7153870000000067|-0.09538700000000666|
|03/05/2019 08:31:34|      112|            0.9|0.7153870000000067| 0.18461299999999337|
|03/05/2019 08:36:34|      112|           0.89|0.7153870000000067| 0.17461299999999336|
|03/05/2019 08:41:34|      112|           0.81|0.7153870000000067|  0.0946129999999934|
|03/05/2019 08:46:34|      112|           0.88|0.7153870000000067| 0.16461299999999335|
|03/05/2019 08:51:34|      112|           0.89|0.7153870000000067| 0.17461299999999336|
|03/05/2019 08:56:34|      112|           0.84|0.7153870000000067| 0.12461299999999331|
|03/05/2019 09:01:34|      112|           0.71|0.7153870000000067|-0.00538700000000...|
|03/05/2019 09:06:34|      112|           0.85|0.7153870000000067| 0.13461299999999332|
|03/05/2019 09:11:34|      112|           0.72|0.7153870000000067|0.004612999999993317|
|03/05/2019 09:16:34|      112|           0.54|0.7153870000000067|-0.17538700000000662|
|03/05/2019 09:21:34|      112|           0.58|0.7153870000000067| -0.1353870000000067|
|03/05/2019 09:26:34|      112|           0.73|0.7153870000000067|0.014612999999993326|
|03/05/2019 09:31:34|      112|           0.86|0.7153870000000067| 0.14461299999999333|
|03/05/2019 09:36:34|      112|           0.63|0.7153870000000067|-0.08538700000000665|
|03/05/2019 09:41:34|      112|           0.75|0.7153870000000067|0.034612999999993344|
+-------------------+---------+---------------+------------------+--------------------+
only showing top 20 rows

In [46]:
# SLIDING WINDOW  >  ROWS BETWEEN * AND *
# neighborhood of a row
# average of the value right before, current row and following row
sql_window3 = spark.sql ('select event_datetime, server_id, cpu_utilization, \
                         avg(cpu_utilization) over (partition by server_id order by event_datetime \
                                             rows between 1 preceding and 1 following) avg_server_util\
                        from utilization')
sql_window3.show()

+-------------------+---------+---------------+------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|
+-------------------+---------+---------------+------------------+
|03/05/2019 08:06:34|      112|           0.71|             0.745|
|03/05/2019 08:11:34|      112|           0.78|0.7866666666666666|
|03/05/2019 08:16:34|      112|           0.87|0.8233333333333333|
|03/05/2019 08:21:34|      112|           0.82|              0.77|
|03/05/2019 08:26:34|      112|           0.62|0.7799999999999999|
|03/05/2019 08:31:34|      112|            0.9|0.8033333333333333|
|03/05/2019 08:36:34|      112|           0.89|0.8666666666666667|
|03/05/2019 08:41:34|      112|           0.81|              0.86|
|03/05/2019 08:46:34|      112|           0.88|              0.86|
|03/05/2019 08:51:34|      112|           0.89|              0.87|
|03/05/2019 08:56:34|      112|           0.84|0.8133333333333334|
|03/05/2019 09:01:34|      112|           0.71|0.7999999999999999|
|03/05/2019 09:06:34|      112|           0.85|0.7600000000000001|
|03/05/2019 09:11:34|      112|           0.72|0.7033333333333333|
|03/05/2019 09:16:34|      112|           0.54|0.6133333333333333|
|03/05/2019 09:21:34|      112|           0.58|0.6166666666666667|
|03/05/2019 09:26:34|      112|           0.73|0.7233333333333333|
|03/05/2019 09:31:34|      112|           0.86|0.7399999999999999|
|03/05/2019 09:36:34|      112|           0.63|0.7466666666666667|
|03/05/2019 09:41:34|      112|           0.75|0.6999999999999998|
+-------------------+---------+---------------+------------------+
only showing top 20 rows

#### Basic  ML with Dataframes : Kmeans

In [47]:
#CLUSTERING
from pyspark.sql import SparkSession
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans

In [48]:
df_util.show(3)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
+---------------+-------------------+-----------+---------+-------------+
only showing top 3 rows

In [52]:
# vector :: single array 
# (single data structure that holds all the values from a particular row that ml algorithms will be looking at)
# create vector
vector = VectorAssembler( inputCols = ['cpu_utilization','free_memory','session_count'] , 
                         # name of the columns you are interested in 
                         outputCol='features')
                        # outputparameter name

In [54]:
# create dataframe using tranform method
vcluster_df = vector.transform(df_util)
vcluster_df.show()

+---------------+-------------------+-----------+---------+-------------+----------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|        features|
+---------------+-------------------+-----------+---------+-------------+----------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|[0.57,0.51,47.0]|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|[0.47,0.62,43.0]|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|[0.56,0.57,62.0]|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|[0.57,0.56,50.0]|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|[0.35,0.46,43.0]|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|[0.41,0.58,48.0]|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|[0.57,0.35,58.0]|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58| [0.41,0.4,58.0]|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|[0.53,0.35,62.0]|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45| [0.51,0.6,45.0]|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|[0.32,0.37,47.0]|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|[0.62,0.59,60.0]|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|[0.66,0.72,57.0]|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|[0.54,0.54,44.0]|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47| [0.29,0.4,47.0]|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|[0.43,0.68,66.0]|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|[0.49,0.66,65.0]|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|[0.64,0.55,66.0]|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42| [0.42,0.6,42.0]|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|[0.55,0.59,63.0]|
+---------------+-------------------+-----------+---------+-------------+----------------+
only showing top 20 rows

* ml algorithms in spark expect the input data to be in a single vector

In [55]:
kmeans = KMeans().setK(3) #number of clusters

In [56]:
kmeans = kmeans.setSeed(1) # seed for its random value generator

In [57]:
kmodel = kmeans.fit(vcluster_df)

In [58]:
kmodel.clusterCenters()

[array([ 0.52047775,  0.47836303, 51.79927162]),
 array([ 0.62881549,  0.37094643, 70.43030159]),
 array([ 0.71931575,  0.28104316, 88.23965784])]

#### Basic  ML with Dataframes : Linear Regression
    prediction about one variable using knowledge about another variable

In [59]:
from pyspark.sql import SparkSession
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler

In [61]:
# create vector
vector2 = VectorAssembler( inputCols = ['cpu_utilization'],
                         # name of the columns you are interested in 
                         outputCol='features')
                        # outputparameter name

In [62]:
df_vutil = vector2.transform(df_util)

In [63]:
df_vutil.show()

+---------------+-------------------+-----------+---------+-------------+--------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|features|
+---------------+-------------------+-----------+---------+-------------+--------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|  [0.57]|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|  [0.47]|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|  [0.56]|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|  [0.57]|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|  [0.35]|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|  [0.41]|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|  [0.57]|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|  [0.41]|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|  [0.53]|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|  [0.51]|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|  [0.32]|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|  [0.62]|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|  [0.66]|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|  [0.54]|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|  [0.29]|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|  [0.43]|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|  [0.49]|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|  [0.64]|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|  [0.42]|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|  [0.55]|
+---------------+-------------------+-----------+---------+-------------+--------+
only showing top 20 rows

In [64]:
lr  = LinearRegression(featuresCol = 'features', labelCol ='session_count')
lrModel = lr.fit(df_vutil)

In [ ]:
# linear Regression model specified by 2 thinngs :: coefficient and intercept ax+b

In [65]:
lrModel.coefficients

DenseVector([47.024])

In [66]:
lrModel.intercept

40.41695103556804

In [68]:
# the error occurs when you fit the model
lrModel.summary.rootMeanSquaredError

12.837990225931815